@import 'node_modules/rellax/css/main.css';

$primary: #FFF;
$secondary: #293042;
$tertiary: #0a0a0e;
$quartiary: #1c1c28;
$foreground: #000;
$secondaryForeground: #FFFFFE;

$active: $quartiary;
$notActive: #afafaf;
$nav-hover: $quartiary;

$tint: rgba(0,0,0,0.2);
$border-radius: 5px;

$navbar-height: 55px;

$container-inset: 5vw;

$dark-blur: blur(6px) brightness(70%);

/*
  General
 */

body {
  margin: 0;
  background: $primary;
  color: $foreground;
  overflow-x: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

/*
  Grid
 */
.container {
  margin-left: auto;
  margin-right: 25vw;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.equal-height {
  grid-auto-rows: 1fr;
}

.equal-height > [class*="col-"] {
  height: 100%;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span $i;
  }
  @media (min-width: 768px) {
.col-sm-#{$i} {
  grid-column: span $i;
}
}
@media (min-width: 992px) {
  .col-md-#{$i} {
    grid-column: span $i;
  }
}
@media(min-width: 1200px) {
  .col-lg-#{$i} {
    grid-column: span $i;
  }
}
}

/*
  Navigation
 */
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 25vw;
}

.navigation-border {
  border-left-color: $secondary;
  border-left-style: solid;
  border-left-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
  Cards
 */

.card {
  box-shadow: 0 4px 8px 0 $tint;
  transition: 0.3s;
  border-radius: $border-radius;
}

.card:hover {
  box-shadow: 0 8px 16px 0 $tint;
}

[class*="col-"] .card {
  height: 100%;
}

.card .container {
  padding: 2px 16px;
}

.card img:first-of-type {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  max-width: 100%;
}

.card-body, .card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
  padding: 10px 15px;
}

.card-body dl dt {
  font-weight: bold;
}

* > .row:not(:only-of-type) {
  &:not(:first-of-type) {
    margin-top: 10px;
  }
}

.fullscreen-card {
  display: none;
  position: fixed;
  top: 25vh;
  margin: 0 auto;
  padding: 10px;
  z-index: 50;
  background: #FFFFFF;
  border: $tint 1px solid;
  border-radius: $border-radius;
  width: 50vw;
}

.blurred {
  filter: blur(6px);
  transition: 0.5s;
}

/*
  Jumbotron
 */

.jumbotron {
  width: 100vw;
  height: 100vh;
  background: $tertiary;
  padding-top: 10px;
  padding-bottom: 25px;
}

.jumbotron img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  z-index: 0;
}

.jumbotron .parallax {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.jumbotron .isle {
  position: absolute;
  bottom: 15px;
  left: 25%;
  width: 50%;
  padding: 5px 15px;
  border-radius: $border-radius;
  backdrop-filter: $dark_blur;
  -webkit-backdrop-filter: $dark_blur;
}

.jumbotron .isle h1 {
  width: 100%;
  text-align: center;
  z-index: 100;
}

#scrolldown i {
  width: 100%;
  text-align: center;
  font-size: 25px;
  transition: all .2s ease-in-out;
}

#scrolldown {
  transition: all .2s ease-in-out;
}

#scrolldown i:hover {
  transform: scale(1.1);
}

/*
  Parallax
 */

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax.blurable {
  transition: all .2s ease-in-out;
}

.parallax.blurable:hover {
  filter: $dark-blur;
}

/*
  Image Captions
 */

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
}

.parallax.blurable:hover .blur {
  filter: $dark-blur;
}

.blurable .img-caption {
  display: none;
}

.blurable:hover .img-caption {
  display: block;
}

.img-caption p {
  text-align: center;
  width: 100%;
}

/*
  Container
 */

.contained {
  margin-left: $container-inset;
  margin-right: $container-inset;
}

.contained-by-padding {
  margin-left: 0 !important;
  padding-left: $container-inset;
  padding-right: $container-inset;
}

/*
  Navigation
 */

nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $navbar-height;
  background: $tertiary;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

nav ul li {
  height: 100%;
  float: left;
  transition: background-color .2s ease;
}

nav ul li a {
  padding: 15px 10px;
  color: $foreground;
  display: block;
  text-align: center;
  text-decoration: none;
}

nav ul li a.active {
  background: $active;
}

nav ul li a:hover {
  background: $nav-hover;
}

#navbar {
  display: none;
}

/*
  Sidebar
 */

$sidebar-width: 250px;

#sidebar {
  position: fixed;
  height: 100vh;
  width: $sidebar-width;
  right: 0;
  top: 0;
  bottom: 0;
  background: $secondary;
  padding: 10px 20px;
  color: $secondaryForeground;
  box-shadow: 0 0 10px $tertiary;
}

#sidebar h2:first-of-type {
  font-size: 40px;
  font-family: 'Chela One';
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  display: block;
}

#sidebar ul li a {
  padding: 15px 10px;
  color: $notActive;
  display: block;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

#sidebar ul li a.active {
  background: $active;
  color: $secondaryForeground;
}

#sidebar ul li a:hover {
  background: $nav-hover;
  color: $secondaryForeground;
  transform: translateX(2);
}

#content > * {
  margin-right: $sidebar-width;
}

/*
  Content
 */

section {
  overflow:auto;
  box-shadow: 0 0 10px $tertiary;
  padding: 5px 0 20px 0;
}

section h1:first-of-type, h2:first-of-type {
  font-size: 50px;
}

section h1:first-of-type, section h2:first-of-type, section h3:first-of-type, section h4:first-of-type, section h5:first-of-type, section h6:first-of-type {
  text-align: center;
}

.dropcap:first-letter {
  color: $secondary;
  float: left;
  font-family: Georgia, serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.dark {
  color: $secondaryForeground;
}

/*
  Footer
 */

footer {
  background: $tertiary;
  min-height: 300px;
  width: 100vw;
}

footer .credit {
  width: 100%;
  text-align: center;
}
