@import 'node_modules/rellax/css/main.css';

$primary: #000;
$secondary: #9e9e9e;
$tint: rgba(0,0,0,0.2);
$border-radius: 5px;

/*
  Grid
 */
.container {
  margin-left: auto;
  margin-right: 25vw;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span $i;
  }
  @media (min-width: 768px) {
.col-sm-#{$i} {
  grid-column: span $i;
}
}
@media (min-width: 992px) {
  .col-md-#{$i} {
    grid-column: span $i;
  }
}
@media(min-width: 1200px) {
  .col-lg-#{$i} {
    grid-column: span $i;
  }
}
}

/*
  Navigation
 */
.navigation {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 25vw;
}

.navigation-border {
  border-left-color: $secondary;
  border-left-style: solid;
  border-left-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
  Cards
 */

.card {
  box-shadow: 0 4px 8px 0 $tint;
  transition: 0.3s;
  border-radius: $border-radius;
}

.card:hover {
  box-shadow: 0 8px 16px 0 $tint;
}

.card .container {
  padding: 2px 16px;
}

.card img {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.fullscreen-card {
  display: none;
  position: fixed;
  top: 25vh;
  margin: 0 auto;
  padding: 10px;
  z-index: 50;
  background: #FFFFFF;
  border: $tint 1px solid;
  border-radius: $border-radius;
  width: 50vw;
}

.blurred {
  filter: blur(6px);
  transition: 0.5s;
}
